/*! Css for home page*/
/*! Auto cleaned css to delete unused css*/

@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,500);@import url(https://fonts.googleapis.com/css?family=Open+Sans);@font-face{font-family:Anurati;src:url(https://best-game.leehanishrak.repl.co/fonts/Anurati-Regular.otf)}a{color:#f39c12;font-family:Raleway,sans-serif;text-decoration:none}a:visited{color:#222;text-decoration:none}a:hover{color:#e48632;text-decoration:underline}a:active{color:#e48632;text-decoration:underline}a:focus{color:#e48632;text-decoration:none}body,html{background-color:#111;background:url(https://best-game.leehanishrak.repl.co/images/bg.png);background-repeat:repeat;color:#fff;font-size:16px;line-height:1.5rem;max-width:100%;overflow-x:hidden}h1,h2,h3,h4,h5,h6{font-family:Raleway,sans-serif}h1{font-size:2.25rem;font-family:Anurati,sans-serif;letter-spacing:5px}h2{font-size:1.5rem;font-weight:500}h3{font-size:1.25rem;font-weight:400}h4{font-size:1.1rem;font-weight:300}.text-center{text-align:center}button{outline:0!important}.button{background:#e48632;border:none;border-radius:2px;color:#fff;font-family:Raleway,sans-serif;font-weight:500;display:block;height:auto;width:auto;margin-left:auto;margin-right:auto;margin-top:20px;margin-bottom:20px;padding:5px 15px;outline:0;transition:all .2s ease;cursor:pointer}.button:hover{background:#fff;color:#2b2b2b}#container{position:absolute;top:0;left:0;height:100%;width:100%}#container .row-fluid{margin-top:18%}.text-404 h1{font-family:Anurati,sans-serif;font-size:4rem}.text-404 a{display:inline-block;text-decoration:none}@media (max-width :991px){#container .row-fluid{margin-top:40%}}@media (max-width :767px){.text-404 h1{font-size:3.5rem}}

.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

.fill {
  --color: #db8737;
  --hover: #e79a51;
}

button {
  color: var(--color);
  transition: 0.25s;
}
button:hover, button:focus {
  border-color: var(--hover);
  color: #fff;
}

button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}